---
import { SKILLS } from "@data/skills";
import { Props } from "astro";
import Skill from "./Skill.astro";
---

<div class="skills-box">
    {
        SKILLS.map(({ Icon, label }) => (
            <Skill label={label}>
                <Icon width={70} height={70} />
            </Skill>
        ))
    }
</div>

<style>
    .skills-box {
        width: 85%;

        display: flex;
        flex-wrap: wrap;
        gap: 2rem 2.5rem;
        justify-content: center;
    }
</style>
