---
import AstroIcon from "@icons/astro.svg";
import CssIcon from "@icons/css.svg";
import HtmlIcon from "@icons/html5.svg";
import JavascriptIcon from "@icons/javascript.svg";
import LaravelIcon from "@icons/laravel.svg";
import PhpIcon from "@icons/php.svg";
import ReactIcon from "@icons/react.svg";
import TypescriptIcon from "@icons/typescript.svg";
import { type SkillData } from "@type/types";
import { Props } from "astro";
import Skill from "./Skill.astro";

const SKILLS: SkillData[] = [
    {
        label: "HTML 5",
        Icon: HtmlIcon,
    },
    {
        label: "Css",
        Icon: CssIcon,
    },
    {
        label: "Javascript",
        Icon: JavascriptIcon,
    },
    {
        label: "Typescript",
        Icon: TypescriptIcon,
    },
    {
        label: "PHP",
        Icon: PhpIcon,
    },
    {
        label: "React",
        Icon: ReactIcon,
    },
    {
        label: "Astro",
        Icon: AstroIcon,
    },
    {
        label: "Laravel",
        Icon: LaravelIcon,
    },
];
---

<div class="skills-box">
    {
        SKILLS.map(({ Icon, label }) => (
            <Skill label={label}>
                <Icon width={70} height={70} />
            </Skill>
        ))
    }
</div>

<style>
    .skills-box {
        width: 90%;

        display: flex;
        flex-wrap: wrap;
        gap: 2rem 0;
        justify-content: center;
    }
</style>
