---
const label = Astro.currentLocale?.toUpperCase();
---

<a
    class="lang-button"
    role="link"
    aria-label={`Change website language`}
    href={Astro.url.pathname === "/" ? "/en" : "/"}
>
    {label}
</a>

<style>
    .lang-button {
        font-size: 1.3rem;
        color: var(--c2);
    }

    html:not(.dark) .lang-button {
        color: var(--c1);
    }
</style>
