---
import Link from "@components/ui/Link.astro";
import { LINKS } from "@data/links";
---

<div class="links">
    {
        LINKS.map(({ elementId, label }) => (
            <Link
                url={elementId}
                classType="navigation"
                ariaLabel={`${label} section`}
            >
                {label}
            </Link>
        ))
    }
</div>

<style>
    .links {
        display: flex;
        gap: 1.5rem;
    }
</style>
