---
import DarkModeButton from "./DarkModeButton.astro";
import LangButton from "./LangButton.astro";
import LinksContainer from "./LinksContainer.astro";
---

<nav class="navbar">
    <div class="navbar-content">
        <LinksContainer />
        <div class="buttons">
            <LangButton />
            <DarkModeButton />
        </div>
    </div>
</nav>

<style>
    .navbar {
        z-index: 5;
        position: sticky;
        top: 0;
        width: 100%;
        background-color: var(--c1);
        border-bottom: 2px solid var(--c2);

        & .navbar-content {
            height: 70px;
            max-width: 1980px;
            padding: 0px 25px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            & .buttons {
                width: 80px;
                display: flex;
                align-items: center;
                gap: 2rem;

                font-size: 24px;
            }
        }
    }

    html:not(.dark) .navbar {
        background-color: var(--c2);
        border-bottom: 2px solid var(--c1);
    }
</style>
