---
import Timeline from "./Timeline.astro";
import SectionWrapper from "@components/ui/SectionWrapper.astro";
---

<SectionWrapper id="experiencie">
    <div class="experience-section">
        <Timeline />
    </div>
</SectionWrapper>

<style>
    .experience-section {
        margin-top: 5rem;
    }
</style>

