---
import Title from "@components/ui/Title.astro";
import Timeline from "./Timeline.astro";
import SectionWrapper from "@components/ui/SectionWrapper.astro";

const { i18n } = Astro.props;
---

<SectionWrapper id="experiencie">
    <div class="experience-section">
        <Title>
            {i18n.EXPERIENCIES.TITLE}
        </Title>
        <Timeline />
    </div>
</SectionWrapper>

<style>
    .experience-section {
        text-align: center;
        margin-top: 5rem;
    }
</style>

