---
const { url, label } = Astro.props;
---

<a role="navigation" class="navegation-link" aria-label={`go to ${label} section`} href={url}>{label}</a>

<style>
    .navegation-link{
        color: var(--c2);
        font-size: 24px;
    }
</style>