---
import { SKILLS } from "@data/skills";
import { Props } from "astro";
import SkillItem from "./SkillItem.astro";
---

<div class="skills-box">
    {
        SKILLS.map(({ Icon, label }) => (
            <SkillItem label={label}>
                <Icon width={50} height={50} />
            </SkillItem>
        ))
    }
</div>

<style>
    .skills-box {
        margin: auto;
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: center;
    }
</style>
