---
import SectionWrapper from "@components/ui/SectionWrapper.astro";
import Title from "@components/ui/Title.astro";
import GmailIcon from "@icons/gmail.svg";
import { Image } from "astro:assets";
import Me from "./me.webp";

const { i18n } = Astro.props;
---

<SectionWrapper id="about-me">
    <div>
        <Title>
            {i18n.ABOUT.TITLE}
        </Title>
        <div class="about-me">
            <div class="img-container">
                <Image class="img" src={Me} alt="web developer picture" />
            </div>
            <div class="text-container">
                <h1>{i18n.ABOUT.SUBTITLE}</h1>
                <p>{i18n.ABOUT.BODY}</p>
            </div>
        </div>
    </div>
</SectionWrapper>

<style>
    .about-me {
        display: flex;
        flex-direction: row;
        gap: 3rem;

        & .img-container {
            width: 200px;
            height: 300px;
            object-fit: cover;

            & .img {
                border-radius: 10px;
                width: 200px;
                height: 300px;
            }
        }

        & .text-container {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            max-width: 300px;
        }
    }
</style>
