---
import SectionWrapper from "@components/ui/SectionWrapper.astro";
import Title from "@components/ui/Title.astro";

const { i18n } = Astro.props;
---

<SectionWrapper id="cv">
  <div class="section cv-section">
    <Title>
      {i18n.CV.TITLE}
    </Title>
    <div class="img-container">
      <img
        src={`/cv-imgs/${i18n.CV.FILENAME}.webp`}
        alt="Vista previa del currículum de Claudio Bustos"
        loading="lazy"
        fetchpriority="low"
      />
    </div>
    <a
      role="button"
      class="download-button"
      href={`/pdf/${i18n.CV.FILENAME}.pdf`}
      download
      aria-label="button for download CV"
    >
      {i18n.CV.BUTTON_TEXT}
    </a>
  </div>
</SectionWrapper>

<style>
  .cv-section {
    text-align: center;
    align-items: center;

    & .img-container {
      width: 300px;
      height: auto;
      filter: drop-shadow(0 0 15px #000);

      & img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
      }
    }

    & a.download-button {
      background-color: #000;
      color: #fff;
      font-size: 1.25rem;
      padding: 0.75rem 1.25rem;
      border: none;
      border-radius: 8px;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s ease;

      &:focus-visible {
        background-color: #3139d4;
        outline: none;
        box-shadow:
          0 0 0 3px #fff,
          0 0 0 6px #007acc;
      }
    }
  }
</style>
