<footer class="footer">
    <span>
        Check out the repository for this project <a aria-label="Go to portfolio repository" target="_blank" rel="noopener noreferrer" href="https://github.com/SK-ClaudioBustos/portfolio-astro">here</a>
    </span>
</footer>

<style>
    .footer {
        max-width: 1980px;
        height: 45px;
        padding: 10px 25px;

        & span {
            
            & a, a:focus, a:visited {
                color: var(--c4);
            }
        }
    }
</style>
