---
import Link from "@components/ui/Link.astro";
import GithubIcon from "@icons/social-media/github.svg";
import LinkedinIcon from "@icons/social-media/linkedin.svg";

const { i18n } = Astro.props;
---

<footer class="footer">
    <p>
        {i18n.FOOTER_REPOSITORY_LINK.TEXT}
        <Link
            classType="link"
            ariaLabel="Go to the repository for this project"
            target="_blank"
            url="https://github.com/SK-ClaudioBustos/portfolio-astro"
        >
        {i18n.FOOTER_REPOSITORY_LINK.LINK_TEXT}

        </Link>
    </p>
    <div class="social-media-links">
        <Link
            classType="link"
            target="_blank"
            url="https://www.linkedin.com/in/claudio-paul-bustos-rodríguez-395a0631a/"
            ariaLabel="Visit my LinkedIn profile"
        >
            <LinkedinIcon size={25}/>
        </Link>
        <Link
            classType="link"
            target="_blank"
            url="https://github.com/SK-ClaudioBustos"
            ariaLabel="Visit my Github account"
        >
            <GithubIcon size={25}/>
        </Link>
    </div>
</footer>

<style>
    .footer {-
        max-width: 1980px;
        min-height: 45px;
        padding: 10px 25px;

        display: flex;
        justify-content: space-between;

        & .social-media-links {
            display: flex;
            gap: 1rem;
        }
    }

    @media (width <= 768px) {
        .footer {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
</style>
