---
import SectionWrapper from "@components/ui/SectionWrapper.astro";
import ProjectItem from "./ProjectItem.astro";
import Title from "@components/ui/Title.astro";
import { getProjects } from "@data/projects";
const { i18n } = Astro.props;

const PROJECTS = getProjects(i18n);
---

<SectionWrapper id="projects">
    <div class="section">
        <Title>
            {i18n.PROJECTS.TITLE}
        </Title>
        <div class="projects-container">
            {PROJECTS.map((project) => <ProjectItem item={project} />)}
        </div>
    </div>
</SectionWrapper>

<style>
    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
</style>
