<section class="section-wrapper flex-center" id={Astro.props.id}>
    <slot />
</section>

<style>
    .section-wrapper {
        min-height: 400px;
        padding: 0 clamp(1rem, 10vw ,12rem);
        max-width: 1980px;
        align-self: center;

        animation: fade-out linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
    }

	@keyframes fade-out {
		from {
			opacity: 0%;
		}

		to {
			opacity: 100%;
		}
	}
</style>
