<h1>
    <slot />
</h1>

<style>
    h1 {
        font-weight: bold;
        font-size: clamp(1.2rem, 5vw  + 1rem, 3.5rem);
        letter-spacing: 0.1rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
</style>
