<h1>
    <slot />
</h1>

<style>
    h1 {
        font-weight: bold;
        font-size: clamp(2.5rem, 5vw + 1rem, 3.5rem);
        letter-spacing: 0.7rem;
        margin-bottom: 4rem;
        text-align: center;
    }
</style>
